.Exercise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.Exercise .x-feed {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.5em 2em;
}
.Exercise .x-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 10em;
    width: 12em;
    margin: 1em auto;

    background-color: transparent;
    border: solid 1px;
    border-radius: 0.8em;

}
.Exercise a {
    text-decoration: underline;
}
.Exercise a:hover {
    text-decoration: none;
}